.login, .signup {
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.register__container {
    height: 460px!important;
}

.login__container {
    flex-direction: column;
    height: 430px;
    width: 350px;
    background-color: var(--bg-color02);
    justify-content: center;
    align-items: center;
    border: 1px solid var(--gray-medium);
    box-sizing: border-box;
}

.c-blue {
    color: blue;
}

.login__image {
    height: 100px;
    width: 150px;
    border-radius: 999px;
    margin: 1.5rem 0px;
}

.login__button {
    padding: 0.5rem 5rem!important;
    font-weight: bold!important;
}

.login__googleSignIn {
    background-color: #D1D5DB!important;
}

.login__googleSignIn:hover {
    background-color: var(--gray-light)!important;
}

.login__emailSignIn {
    border: none;
    background-color: var(--primary-color02)!important;
}

.login__emailSignIn:hover {
    background-color: var(--primary-color01)!important;
}

.login__from {
    flex-direction: column;
    width: 330px;
}

.mb-05 {
    margin-bottom: 0.5rem;
}

.p-03 {
    padding: 0.3rem;
}

.f-b {
    font-weight: bold;
}

.t-j {
    text-align: justify;
}