.buttonmodal__button {
    width: 100%;
    padding: 0.3rem 0px;
    background-color: var(--bg-color01)!important;
}

.buttonmodal {
    margin-bottom: 0.3rem;
    border-bottom: 1px solid var(--bg-color01);
}

.buttonmodal__input {
    width: 100%;
    border: none;
    outline: none;
}

.buttonmodal__bottomButton {
    background-color: var(--primary-color01)!important;
}