.sidebar {
    flex-direction: column;
    flex: 0.35;
    border-right: 0.5px solid var(--bg-color01);
}

.-flex {
    display: flex;
}

.sidebar__header {
    justify-content: space-between;
    padding: 0.5rem;
    background-color: var(--primary-color01);
}

.sidebar__searchfield {
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: var(--bg-color02);
}

.sidebar__border-b-1 {
    border-bottom: 1px solid var(--bg-color01);
}

.sidebar__searchinput {
    padding: 0.5rem;
    border: none;
    outline: none;
    font-size: 1.1rem;
    flex: 1;
}

.sidebar__chatContainer {
    flex-direction: column;
    overflow-y: scroll;
}

.sidebar__chatContainer::-webkit-scrollbar {
    display: none;    /*for chrome*/
    -ms-overflow-style: none;    /* IE and Edge */
    scrollbar-width: none;    /* Firefox */
}

._iconColor {
    color: var(--bg-color02)
}

.sidebar__icons {
    align-items: center;
}

.sidebar__themetoggle {
    margin-right: 0.5rem!important;
}