.sidebarchat {
    display: flex;
    padding: 1rem;
    align-items: center;
    border-bottom: 1px solid var(--bg-color01);
}

.sidebarchat__info {
    margin-inline-start: 1rem;
}

.mb-0 {
    margin-bottom: 0px;
}

.sidebarchat__chatRoom {
    font-weight: bold;
}